.list
{
    float: right;
    width: 20%;
    height: 700px;
}
.mixed-item-list
{
    float: right;
    width: 282px;
    border: 1px solid lightgreen;
    border-radius: 1em;
}

.detail-view
{
    float: left;
    width: 80%;
    height: 670px;
}